.advantages {
  &__inner {
    width: 100%;
    position: relative;
    padding: 55px 0;
    h4 {
      color: #222221;
      font-family: $museo-medium;
      font-size: 44px;
      margin: 0;
      text-align: center;
      @include breakpoint(max-width 660px){
        font-size: 35px;
      }
    }
  }

  &__list-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-bottom: 25px;
    padding-left: 30px;
    background-image: url('../img/done.svg');
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 18px 18px;
    line-height: 1.8;
    font-size: 15px;
    color: #222221;
    font-family: $museo-light;
    @include breakpoint(max-width 570px) {
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
      @include breakpoint(max-width 570px) {
        margin-bottom: 15px;
      }
    }

  }

  &__list {
    margin-top: 70px;
    list-style: none;
    padding: 0;
    @include breakpoint(max-width 570px) {
      margin-top: 30px;
    }
    &:nth-last-of-type(2) {
      margin-top: 0;
    }
  }

  &__circle {
    background-image: url('../img/advantages-circle-bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    border: 2px solid #ffb400;
    width: 390px;
    height: 390px;
    margin: 90px auto 0 auto;
    position: relative;
    @include breakpoint(max-width 570px) {
      width: 320px;
      height: 320px;
      margin: 60px auto 0 auto;
    }
    @include breakpoint(max-width 460px) {
      width: 220px;
      height: 220px;
    }
    @include breakpoint(max-width 360px) {
      width: 180px;
      height: 180px;
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      border: 1px solid #ebedee;
      top: -60px;
      right: -60px;
      bottom: -60px;
      left: -60px;
      border-radius: 50%;

    }
  }
  &__part {
    width: 310px;
    @include breakpoint(max-width 1200px) {
      width: 50%;
      padding-right: 15px;
    }
    @include breakpoint(max-width 600px) {
      width: 100%;
    }
    &--center {
      flex-grow: 1;
      @include breakpoint(max-width 1200px) {
        order: 1;
        width: 100%;
      }

      .advantages__item {
        width: 250px;
        margin: 0 auto;
      }

      .advantages__list {
        margin-top: 10px;
      }
    }
  }
}

.mg-top-xs {
  @include breakpoint(max-width 600px) {
    margin-top: 0;
  }
}