.footer {
  &__inner {
    width: 100%;
    position: relative;
    p {
      margin-bottom: 0;
    }
  }
  &__copyright {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.26px;
  }
  &__copy-wrap {
    background-color: #252a2d;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 13px;
      color: #ffffff;
      font-family: "MuseoSansLight";
      text-align: center;
    }
  }
  &__info-item {
    @include breakpoint(max-width 992px) {
      width: 50%;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &:last-child {
        margin-bottom: 0;
      }
    }
    @include breakpoint(max-width 460px) {
      width: 100%;
    }
  }
  &__info-wrap {
    background-color: #343c40;
    @include breakpoint(max-width 992px) {
      padding: 20px 0;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    @include breakpoint(max-width 992px) {
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
    }
    @include breakpoint(max-width 460px) {
      text-align: center;
    }
  }

  &__phone {
    font-size: 19px;
    color: #fff;
    font-family: $museo-black;
    margin-left: 25px;
    position: relative;
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 0.38px;
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
    @include breakpoint(max-width 460px) {
      width: auto;
    }
    &:visited {
      color: #fff;
    }
    &:active {
      color: #fff;
    }
    &:hover {
      color: #fff;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 17px;
      height: 17px;
      top: 2px;
      left: -25px;
      background: url('../img/icons/phone-receiver.svg') no-repeat center center;
      background-size: contain;
    }
  }

  &__polit {
    margin: 0 0 0 25px;
    display: inline-block;
    position: relative;
    color: #fff;
    font-family: $museo-light;
    font-size: 13px;
    letter-spacing: 0.26px;
    text-decoration: none;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      right: 0;
    }
    @include breakpoint(max-width 992px) {
      width: 100%;
    }
    &:hover {
      color: #fff;
      &:before{
        display: none;
      }
    }
  }

  &__location {
    font-size: 15px;
    color: #fff;
    font-family: $museo-light;
    margin-left: 15px;
    position: relative;
    width: 230px;
    margin-bottom: 0;
    letter-spacing: 0.3px;
    @include breakpoint(max-width 992px) {
      margin-left: 25px;
      width: 100%;
    }
    @include breakpoint(max-width 460px) {
      width: auto;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 17px;
      height: 17px;
      top: 2px;
      left: -25px;
      background: url('../img/icons/maps-and-flags2.svg') no-repeat center center;
      background-size: contain;
    }
  }

  &__design-by {
    font-size: 12px;
    color: #fff;
    font-family: $museo-light;
    margin-right: 55px;
    position: relative;
    width: 60px;
    text-align: right;
    display: block;
    transition: 200ms ease;
    &:before {
      content: '';
      display: block;
      position: absolute;
      right: -51px;
      top: -10px;
      width: 41px;
      height: 44px;
      background: url('../img/ruso_logo.svg') no-repeat center center;
      background-size: contain;
      transition: 200ms ease;
    }
    &:active {
      color: #fff;
    }
    &:visited {
      color: #fff;
    }
    &:hover {
      transition: 200ms ease;
      color: #ffb400;
      &:before {
        background-image: url('../img/ruso_logo2.svg');
      }
    }

  }

  &__email {
    font-size: 15px;
    color: #fff;
    font-family: $museo-bold;
    position: relative;
    margin-bottom: 0;
    letter-spacing: 0.3px;
    @include breakpoint(max-width 992px) {
      margin-left: 25px;
      width: 100%;
    }
    @include breakpoint(max-width 460px) {
      width: auto;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -25px;
      width: 17px;
      height: 17px;
      top: 2px;
      background: url('../img/icons/mail-orange.svg') no-repeat center center;
      background-size: contain;
    }
  }

  &__email-link {
    font-family: $museo-light;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 0.3px;
    @include breakpoint(max-width 992px) {
      width: 100%;
      margin-left: 25px;
      margin-top: 0;
    }
  }

  &__schedule {
    font-size: 15px;
    color: #fff;
    font-family: $museo-light;
    margin-top: 3px;
    margin-bottom: 0;
    letter-spacing: 0.3px;
    @include breakpoint(max-width 992px) {
      width: 100%;
      margin-left: 25px;
    }
  }

  &__schedule-title {
    font-size: 15px;
    font-family: $museo-bold;
    color: #fff;
    position: relative;
    margin-bottom: 0;
    letter-spacing: 0.3px;
    @include breakpoint(max-width 992px) {
      width: 100%;
      margin-left: 25px;
    }
    @include breakpoint(max-width 460px) {
      width: auto;
    }
    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 17px;
      height: 17px;
      top: 2px;
      left: -25px;
      background: url('../img/icons/clock-circular.svg') no-repeat center center;
      background-size: contain;
    }
  }

}

